@page "/PhysicalProductModule"
@using Microsoft.Extensions.Localization
@using global::PhysicalProductModule.Localization
@inject IStringLocalizer<PhysicalProductModuleResource> L
@{
}
<h1>PhysicalProductModule</h1>
<p>@L["SamplePageMessage"]</p>