@page "/BaseProductModule"
@using Microsoft.Extensions.Localization
@using global::BaseProductModule.Localization
@inject IStringLocalizer<BaseProductModuleResource> L
@{
}
<h1>BaseProductModule</h1>
<p>@L["SamplePageMessage"]</p>